[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "Glamourer.Api"]
	path = Glamourer.Api
	url = https://github.com/Ottermandias/Glamourer.Api.git
[submodule "Penumbra"]
	path = Penumbra
	url = https://github.com/xivdev/Penumbra
